.logo--shifted {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 0;
}
.logo__studio--reversed {
	color: $reverse-text-color;
}


// контакты в футере
.container--flex-base {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
    	flex-direction: row;
		align-items: baseline;

	}
}

.wrapper-for-footer {
	@media screen and (min-width: 768px){
		display: flex;
	}
}

.footer {
	background-color: $background-color-dark;
}

.footer-contacts {
	text-align: center;
	@media screen and (min-width: 768px) and (max-width: 1199px){
		margin-right: 165px;
	}

	@media screen and (min-width: 1200px) {
    	margin-right: 70px;
		text-align: left;
	}
	
}

.address {
	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}

	&__item:not(:last-child){
		margin-bottom: 9px;
	}

	&__contact {

		color: rgba(255, 255, 255, 0.6);
	}

	&__link {
		color: $conditions-subcolor;
	}
}


// блок присоединяйтесь

.join {
	text-align: center;
	margin-bottom: 60px;

	@media screen and (min-width: 768px) and (max-width: 1199px){
		padding-top: 10px;
	}
	@media screen and (min-width: 1200px) {
		text-align: left;
    	margin-right: 93px;
		margin-bottom: 0;
		padding-top: 10px;
	}
}

.join__btn,
.subscribe-box__label {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $conditions-subcolor;
}

.social-link__link--dark {
	color: $link-icon-revfill;
	background: rgba(255, 255, 255, 0.1);
}


// форма подписки

.subscribe {
    display: flex;
	flex-direction: column;
	text-align: center;

	@media screen and (min-width: 1200px) {
    	flex-direction: row;
		align-items: flex-end;
	}
}

.subscribe-box {
	display: flex;
    flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		align-items: flex-start;
	}

	&__input {
		width: 450px;
		height: 50px;

		@media screen and (min-width: 1200px) {
			margin-bottom: 0;
			margin-right: 12px;
			width: 358px;
		}
		
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 16px;

		font-size: 16px;
		line-height: 1.25;
		color: rgba(255, 255, 255, 0.6);

		background-color: $background-color-dark;

		border: 1px solid rgba(255, 255, 255, 0.3);
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;

		&::placeholder {
		color: rgba(255, 255, 255, 0.6);
		}
	}
}

