.header {
	position:relative;
	outline: 1px solid red;
}

.container--flex  {
	outline: 2px solid green;	
}

.nav {
	outline: 1px solid blue;
	min-height: 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 480px) {
		max-width: 480px;
	}
}


.site-nav {
	outline: 1px solid palegreen;

	@media  screen and (max-width: 480px) {
		display: none;
	}
}

.contacts {

	@media (max-width: 480px) {
		display: none;
	}
}

.button-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;

	width: 40px;
	height: 40px;
	@extend %flex;
	border: none;
	background-color: transparent;
	padding: 0;

	@media (min-width: 481px) {
		display: none;
	}

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus  {
	fill: $conditions-color;
    }
}

.button-menu__close {
	display: none;
	

}


.button-menu.is-open .button-menu__close {
	display: block;

}

.button-menu.is-open .button-menu__open {
	display: none;
}
